{% extends 'base.html' %}
{% block content %}
<h1>Dashboard Booking Saya</h1>
<hr>

{% if bookings %}
<table border="1" cellspacing="0" cellpadding="8">
  <tr>
    <th>Lapangan</th>
    <th>Tanggal</th>
    <th>Jam</th>
    <th>Status</th>
    <th>Aksi</th>
  </tr>
  {% for booking in bookings %}
  <tr>
    <td>{{ booking.lapangan.nama }}</td>
    <td>{{ booking.tanggal }}</td>
    <td>{{ booking.jam_mulai }} - {{ booking.jam_selesai }}</td>
    <td>{{ booking.status }}</td>
    <td>
      {% if booking.status != 'cancelled' %}
        <a href="{% url 'booking:booking_cancel' booking.pk %}">Batalkan</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Belum ada booking yang dibuat.</p>
{% endif %}

<br>
<a href="{% url 'booking:booking_create' %}">+ Buat Booking Baru</a>
{% endblock %}
